<!DOCTYPE html>

<html>
  <head>
    <title>ML Model Deployment</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="nav"><span>Twitter Sentiment Analysis</span></div>
    <div class="main">
      <div class="text">
        <h1 class="hed1">Text Input Form</h1>
        <form action="/predict" method="post">
          <div class="in">
            <label for="input_text">Enter Text:</label><br />
            <textarea
              id="input_text"
              name="input_text"
              rows="4"
              cols="50"
            ></textarea
            ><br /><br />
          </div>
          <div class="btn">
            <input type="submit" value="Predict" class="btn" />
          </div>
        </form>
      </div>
      <div class="result">
        <h1 class="hed2">Prediction Class</h1>
        <div class="tex">
          <div id="prediction-text" class="prediction">
            {{ prediction_text }}
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        var predictionText = $("#prediction-text").text().trim();

        if (predictionText === "1") {
          $("#prediction-text").css("color", "#34B334");
        } else if (predictionText === "0") {
          $("#prediction-text").css("color", "#FF033E");
        } else {
          $("#prediction-text").css("color", "black");
        }
      });
    </script>
  </body>
</html>
